# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

src/python/generate/__pycache__
src/data/llm_generated
~$*.xlsx